<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:site_name" content="unknown's blog">
<meta property="og:url" content="https://unknowntrojan.win/">
<meta property="og:title" content="{{ metadata.title | escape }}">
<meta property="og:description" content="{{ metadata.description }}">
{% if layout == "post" %}
<meta property="article:published_time" content="{{ time | date: "%-d %B %Y" }}">
{% endif %}
<meta property="og:type" content="website">
<meta name="og:image" itemprop="image" content="/images/avatar.png">
<meta name="theme-color" content="#3F3F46">
{% capture resource_title %}
  {{ title | strip_html | strip_newlines }}{% endcapture %}
<title>
  {% if resource_title != "Index" %}
    {{ resource_title | escape }} | {{ metadata.title | escape }}
  {% else %}
    {{ metadata.title | escape }}: {{ metadata.tagline | escape }}
  {% endif %}
</title>
<meta name="description" content="{{ metadata.description }}" />

{% feed_meta %}

<link rel="stylesheet" href="{% asset_path css %}" />
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}