<header class="p-2 md:grid md:grid-flow-row md:grid-cols-3 nav-bar">
  <a href="{{ '/' | relative_url }}" class="hidden md:inline-block">
    <div class="flex flex-row flex-grow flex-shrink">
      <img
        src="{{ '/images/avatar.png' | relative_url }}"
        alt="Logo"
        class="w-16 h-16 aspect-square rounded-full mr-4 overflow-hidden" />

      <div class="float-left text-left my-auto">
        <h2>
          {{ metadata.title }}
        </h2>
        <h3>
          {{ metadata.description }}
        </h3>
      </div>
    </div>
  </a>

  <nav class="justify-center items-center my-auto bg-zinc-900 p-2 mx-auto">
    <div class="flex flex-row flex-none justify-center text-l mx-4 shrink">
      <div class="mx-4 block">
        <a class="hover:text-gray-400" href="{{ '/' | relative_url }}">Home</a>
      </div>
      <div class="mx-4 block">
        <a class="hover:text-gray-400" href="{{ '/posts' | relative_url }}">Posts</a>
      </div>
      <div class="mx-4 block">
        <a class="hover:text-gray-400" href="{{ '/about' | relative_url }}">About</a>
      </div>
    </div>
  </div>
</header>